<div class="container-contrato">
  <div class="card-contacto">

    <h1>Contacto</h1>
    <form (ngSubmit)="submitForm()" #contactForm="ngForm">
      <br>
      <br>
      <div class="form-group">
        <input type="text" id="name" name="name" [(ngModel)]="name" required >
        <label for="name">Nombre:</label>
      </div>
      <br>
      <div class="form-group">
        <input type="text" id="message" name="message" [(ngModel)]="message" required >
        <label for="message">Mesage:</label>
      </div>
      <br>
      <button class="button-contacto" type="submit" [disabled]="!name || !message">Enviar mensaje de WhatsApp</button>
    </form>
  </div>
</div>