<header class="header">
    <a href="#" class="logo">Parcelas Parral</a>
    <input type="checkbox" id="check">

    <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
        <a routerLink="/index/index" style="--i:0">Inicio</a>
        <a routerLink="/index/contacto" style="--i:1">Contacto</a>
        <a routerLink="/index/quienessomos" style="--i:2">Quienes somos</a>
    </nav>
</header>

<router-outlet></router-outlet>