<!-- <header class="header">
    <a href="#" class="logo">Parcelas Parral</a>
    <input type="checkbox" id="check">

    <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
        <a routerLink="/index/index" style="--i:0">Inicio</a>
        <a routerLink="/index/contacto" style="--i:1">Contacto</a>
        <a routerLink="/index/quienessomos" src="quienessomos" style="--i:2">Quienes somos</a>
    </nav>
</header> -->



<div class="navbar">
    <div class="container">
        <div class="logo">Parcelas Parral</div>
        <div class="menu">
            <a routerLink="/index">Inicio</a>
            <a routerLink="/index/contacto">Contacto</a>
            <a routerLink="/index/quienessomos">Quiénes Somos</a>
        </div>
        <div class="mobile-menu-icon" (click)="toggleVisibility()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div *ngIf="isVisible">
            <div class="mobile-menu">
                <a routerLink="/index/index">Inicio</a>
                <a routerLink="/index/contacto">Contacto</a>
                <a routerLink="/index/quienessomos">Quiénes Somos</a>
            </div>
        </div>

    </div>
</div>

<router-outlet></router-outlet>