
<div class="slider">
    <div class="slide">
        <img src="../../../../assets/media/parcela1.png" alt="Imagen 1">
        <h1>Parcelas en cercania a Parral</h1>
    </div>
    <div class="slide">
        <img src="../../../../assets/media/parcela2.jpg" alt="Imagen 2">
        <h1>Agenda tu visita</h1>
    </div>
    <div class="slide">
        <img src="../../../../assets/media/parcela3.jpg" alt="Imagen 3">
        <h1>Los mas rapido del mercado</h1>
    </div>
</div>



<p class="titulo">Loteos</p>
<div class="container-loteo">
    
    <a routerLink="/index/loteos" class="card-link" (click)="cambiarValorDeVariable('data1')">
        <div class="card-loteo">
            <h3>El bonito o cuatro esquinas</h3>
            <p><i class="icono-check"></i>Propiedades desde $6.800.000</p>
            <p><i class="icono-check"></i>Ubicacion 25km de Parral</p>
            <p><i class="icono-check"></i>Sector camino Talhuenes</p>
            <p><i class="icono-check"></i>Rol: Propio</p>
            <p><i class="icono-check"></i>Propiedades saneadas</p>
            <p><i class="icono-check"></i>Lista para transferir</p>
            <p><i class="icono-check"></i>Pendiente suabe</p>
            <p><i class="icono-check"></i>Cuenta con estacas en vertice</p>
        </div>
    </a>

    <a routerLink="/index/loteos" class="card-link" (click)="cambiarValorDeVariable('data2')">
        <div class="card-loteo">
            <h3>Santa Teresa</h3>
            <p><i class="icono-check"></i>Propiedades desde $16.000.000</p>
            <p><i class="icono-check"></i>Ubicacion 8km del poniente de retiro</p>
            <p><i class="icono-check"></i>Sector frente a tucapel</p>
            <p><i class="icono-check"></i>Rol: Propio</p>
            <p><i class="icono-check"></i>Propiedades saneadas</p>
            <p><i class="icono-check"></i>Lista para transferir</p>
            <p><i class="icono-check"></i>Terreno absolutamente plano</p>
            <p><i class="icono-check"></i>Cuenta con estacas en vertice</p>
        </div>
    </a>
    <a routerLink="/index/loteos" class="card-link" (click)="cambiarValorDeVariable('data3')">
        <div class="card-loteo">
            <h3>Lomas de Machicura</h3>
            <p><i class="icono-check"></i>Propiedades desde $10.000.000,</p>
            <p><i class="icono-check"></i>Ubicacion 23km oriente de Parral</p>
            <p><i class="icono-check"></i>Se puede acceder por Remulcao o Camelia</p>
            <p><i class="icono-check"></i>Rol: Propio</p>
            <p><i class="icono-check"></i>Propiedades saneadas</p>
            <p><i class="icono-check"></i>Lista para transferir</p>
            <p><i class="icono-check"></i>Terreno absolutamente plano</p>
            <p><i class="icono-check"></i>Cuenta con estacas en vertice</p>
        </div>
    </a>





</div>