<div class="contenedor-loteos-full">
    <!-- <input type="text" autofocus> -->



    <div class="contenedor">
        <p class="titulo">Loteos {{ loteo[0].nombre}}</p>

        <div class="contenedor-card">

            <div class="card-loteos-map card-30" *ngIf="loteo.length > 0">
                <h3>{{ loteo[0].nombre}}</h3>
                <p><i class="icono-check"></i> Propiedades desde {{ loteo[0].precio}}</p>
                <p><i class="icono-check"></i> Ubicacion : {{ loteo[0].distancia}}</p>
                <p><i class="icono-check"></i> Sector {{ loteo[0].sector}}</p>
                <p><i class="icono-check"></i> Rol: {{ loteo[0].rol}}</p>
                <p><i class="icono-check"></i> Propiedades {{ loteo[0].propiedades}}</p>
                <p><i class="icono-check"></i> Estado {{ loteo[0].transferencia}}</p>
                <p><i class="icono-check"></i> Terreno: {{ loteo[0].pendiente}}</p>
                <p><i class="icono-check"></i> Division: {{ loteo[0].divicion}}</p>
            </div>
            <div class="card-loteos-map card-70">
                <div id="map"></div>

            </div>
        </div>

    </div>


    <div class="container-img">
        <p class="titulo">Galeria de imagenes</p>
        <div class="image-container">
            <div class="image"><img src="../../../../assets/media/cuatro_esquinas/cuatroesquinas1.jpeg" alt=""></div>
            <div class="image"><img src="../../../../assets/media/cuatro_esquinas/cuatroesquinas2.jpeg" alt=""></div>
            <div class="image"><img src="../../../../assets/media/cuatro_esquinas/cuatroesquinas3.jpeg" alt=""></div>
            <div class="image"><img src="../../../../assets/media/cuatro_esquinas/cuatroesquinas4.jpeg" alt=""></div>
            <div class="image"><img src="../../../../assets/media/cuatro_esquinas/cuatroesquinas5.jpeg" alt=""></div>
            <div class="image"><img src="../../../../assets/media/cuatro_esquinas/cuatroesquinas6.jpeg" alt=""></div>
        </div>

        <div class="popup-image">
            <span>&times;</span>
            <img src="../../../../assets/media/parcela1.png" alt="">
        </div>
    </div>


</div>