<div class="contenedor">
    <p class="contenedor-parrafo-loteos">Loteos: [Nombre loteo]</p>

    <div class="contenedor-card">

        <div class="card-loteos-map card-30">
            <h3>El bonito o cuatro esquinas</h3>
            <p><i class="icono-check"></i> Propiedades desde $6.800.000</p>
            <p><i class="icono-check"></i> Ubicacion 25km de Parral</p>
            <p><i class="icono-check"></i> Sector camino Talhuenes</p>
            <p><i class="icono-check"></i> Rol: Propio</p>
            <p><i class="icono-check"></i> Propiedades saneadas</p>
            <p><i class="icono-check"></i> Lista para transferir</p>
            <p><i class="icono-check"></i> Pendiente suabe</p>
            <p><i class="icono-check"></i> Cuenta con estacas en vertice</p>
        </div>
        <div class="card-loteos-map card-70">
            <div id="map"><!-- style="height: 600px;" --></div>
            
        </div>
    </div>

</div>