@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import '~leaflet/dist/leaflet.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    min-height: 100vh;
    background: url('assets/img/banner2.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.icono-check {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: url('assets/icons/check-mark-button-svgrepo-com.svg') center/contain no-repeat;
    vertical-align: middle;
}
