@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    min-height: 100vh;
    background: url('assets/img/banner1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    /* z-index: 100%; */
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(6px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media(max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media(max-width: 768px) {
    .slide img {
        position: center;

    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        z-index: 2;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(6px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s *var(--i));
    }

}

/* ! Card Container */

.container-loteo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 85px;
    padding-left: 130px;
    padding-right: 130px;
    color: #2c5f15;
}

.card-loteo {
    width: 400px;
    height: 600px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 40px;
    box-shadow: 4px 4px 12px #112c07;
    border-radius: 15px;
    transition: transform 1.9s ease;
    /* background: url('assets/img/banner1.jpg') no-repeat; */
    background: #fff;
    background-size: cover;
    background-position: center;
}

.card-loteo:hover {
    transform: translateY(-15px);
    transition: transform 1.9s ease;
    z-index: 1;
}

.map-loteo {
    position: static;
    width: 100%;
    height: 200px;
    background-color: lightgray;
    border-radius: 20px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
}

/* ! carrusel de imagenes */

.slider {
    display: flex;
    overflow: hidden;
    position: relative;
}

.slide {
    flex: 0 0 100%;
    text-align: center;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.9) saturate(0.7);
}

.slide h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: rgba(0, 0, 0, 0.9); */
    color: white;
    padding: 10px 20px;
    font-size: 3.7rem;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}

.slider .slide {
    animation: slide 9s infinite;
}

@keyframes slide {

    0%,
    100% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-100%);
    }

    66.66% {
        transform: translateX(-200%);
    }
}

.titulo {
    font-size: 6.2rem;
    text-align: center;
    font-weight: 700;
    margin-top: 85px;
    color: #fff;
}

.container-text {
    height: 100vh;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ! Quienes somos css */

.container-parrafo {
    width: 80%;
    border-radius: 30px;
    background-color: #f0f0f0;
}

.container-text p {
    font-size: 23px;
    margin: 30px;
    line-height: 1.2;
}

.container-text h3 {
    font-size: 32px;
    margin: 20px;
    line-height: 1.2;
}

@media(max-width: 768px) {
    .container-parrafo {
        width: 90%;
    }
    
    .container-text p {
        font-size: 18px;
        margin: 30px;
        line-height: 1.2;
    }
    
    .container-text h3 {
        font-size: 23px;
        margin: 20px;
        line-height: 1.2;
    }
}